@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TT Hoves";
    src: url("../public/fonts/TTHoves-Regular.ttf");
}

@font-face {
    font-family: "Belleza";
    src: url("../public/fonts/Belleza-Regular.ttf");
}

@font-face {
    font-family: "Lovelo Line";
    src: url("../public/fonts/LoveloLineLight.otf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../public/fonts/OpenSans.ttf");
}

@layer base{
    body{
        @apply max-w-[100%] overflow-x-hidden
    }
    p{
        @apply text-[#747474]
    }

}

@layer components{
    .navList{
        @apply text-right hover:underline-offset-1 
    }
    .blueButton{
        @apply ml-10 uppercase border-gray-400 border-solid border-[1px] py-2 px-6 hover:bg-[#ffc800] hover:text-white hover:border-[#00000000] hover:scale-95 duration-[400ms] 
    }

    .yellowButton{
        @apply uppercase hover:border-gray-400 hover:border-solid hover:border-[1px] md:py-4 md:px-8 bg-[#FBC335] text-black border-[#FBC335] hover:scale-95 hover:text-white hover:bg-white/0 duration-[400ms] px-4 py-1
    }

    .formButton{
        @apply uppercase hover:border-gray-400 border-solid border-[1px] mt-4 py-2 md:py-4 lg:mt-2 lg:py-2 2xl:mt-4 2xl:py-4 w-full bg-[#ffc800] border-[#ffc800] text-black hover:text-black hover:scale-95 hover:bg-white/0  duration-[400ms] font-openSans tracking-wider font-semibold md:text-[14pt] cursor-pointer
    }
    .slider{
        @apply object-cover w-screen h-[10rem] md:h-[25rem] 2xl:h-[35rem] opacity-50
        
    }
    .projectBtn{
        @apply text-center font-semibold py-2 my-4 md:py-3 md:px-6 md:mt-10 font-openSans tracking-wider md:text-[12pt] uppercase border-white border-solid border-[1px] hover:bg-[#ffc800] hover:text-white hover:border-[#000000] hover:scale-95 text-white bg-white/0 duration-[400ms]
    }

    .linkDots{
        @apply rounded-full bg-white p-[5px] md:p-[10px] cursor-pointer hover:scale-110 hover:text-[#FBC335] ease-in duration-300
    }

    .linkDotsMobile{
        @apply rounded-full bg-[#000000] p-[10px] cursor-pointer hover:scale-110 hover:bg-[#ffc800] ease-in duration-300 text-white
    }

      
};